*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Montserrat', sans-serif;
 }

/* HEADER */
/* header background color and size */
header{
    background-color: rgba(173,216,230,1);
    height: 100px;
}
/* width header */
.container_header{
    width: 70%;
    margin: auto;
}
/* row header flex attribute */
.row_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* col 25 & 50 size and color */
.col_25, .col_50{
    background-color: rgba(218,165,32,1);
    height: 50px;
    border-style: dashed;
    margin-top: 25px;
    padding-top: 7px;
    font-size: 25px;
}
/* width col_25 */
.col_25{
    width: 25%;
}
/* width col_50 */
.col_50{
    width: 50%;
    text-align: center;
}
/* padding logo */
.logo{
    padding-left: 10px;
}
/* padding and text align login */
.login{
    text-align: right;
    padding-right: 10px;

}

/* MAIN */
/* -------SECTION_1-------- */
/* size, color and flex properties section 1 */
.section_1{
    height: 600px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* size, color and border container */
.container_section_1{
    width: 60%;
    height: 450px;
    background-color: hotpink;
    border-style: dashed;
}

/* -------SECTION_2-------- */
/* size and flex properties section */
.section_2{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* size container */
.container_section_2{
    width: 70%;
    height: 550px;
}
/* size and display:flex row */
.row_section_2{
    height: 100%;
    display: flex;
}
/* size, coor and border left col */
.col_section_2_left{
    width: 60%;
    height: 100%;
    background-color: rgba(30,144,255,1);
    border-style: dashed;
}
/* size, coor and border right col */
.col_section_2_right{
    width: 40%;
    height: 100%;
    background-color: rgba(255,192,203,1);
    border-style: dashed;
}

/* -------SECTION_3-------- */
/* size, color and flex properties section */
.section_3{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
/* size container */
.container_section_3{
    width: 70%;
    height: 550px;
}
/* size and display:flex row */
.row_section_3{
    height: 100%;
    display: flex;
}
/* size, coor and border left col */
.col_section_3_left{
    width: 40%;
    height: 100%;
    background-color: rgba(30,144,255,1);
    border-style: dashed;
}
/* size, coor and border right col */
.col_section_3_right{
    width: 60%;
    height: 100%;
    background-color: rgba(255,192,203,1);
    border-style: dashed;
}

/* -------SECTION_4-------- */
/* size and flex properties section */
.section_4{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* size container */
.container_section_4{
    width: 70%;
    height: 550px;
}
/* size and display:flex row */
.row_section_4{
    height: 100%;
    display: flex;
}
/* size, coor and border left col */
.col_section_4_left{
    width: 60%;
    height: 100%;
    background-color: rgba(30,144,255,1);
    border-style: dashed;
}
/* size, coor and border right col */
.col_section_4_right{
    width: 40%;
    height: 100%;
    background-color: rgba(255,192,203,1);
    border-style: dashed;
}

/* -------SECTION_5-------- */
/* size, color and flex properties section 1 */
.section_5{
    height: 1300px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* size, color and border container */
.container_section_5{
    width: 70%;
    height: 1150px;
    background-color: rgba(34,139,34,1);
    border-style: dashed;
}

/* FOOTER */
footer{
    background-color: rgba(201,202,202,1);
}
/* -------SECTION_1-------- */
/* size, color and flex properties section 1 */
.section_footer_1{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(35,39,42,1);
    margin-bottom: 2.5px;
}
/* size container */
.container_section_footer_1{
    width: 70%;
    height: 750px;
    padding-top: 20px;
}
/* size and display:flex row */
.row_section_footer_1{
    height: 100%;
    display: flex;
    border-style: dashed;
}
/* size, coor and border col */
.col_section_footer_1{
    width: 33.33332%;
    height: 100%;
    background-color: rgba(240,128,128,1);
    border-style: dashed;
}
/* size, coor and border col */
.col_section_footer_2{
    width: 16.66666%;
    height: 100%;
    background-color: rgba(32,178,170,1);
    border-style: dashed;
    border-color: white;
}
/* size, coor and border col */
.col_section_footer_3{
    width: 16.66666%;
    height: 100%;
    background-color: rgba(32,178,170,1);
    border-style: dashed;
    border-color: white;
}
/* size, coor and border col */
.col_section_footer_4{
    width: 16.66666%;
    height: 100%;
    background-color: rgba(32,178,170,1);
    border-style: dashed;
    border-color: white;
}
/* size, color and border col */
.col_section_footer_5{
    width: 16.66666%;
    height: 100%;
    background-color: rgba(32,178,170,1);
    border-style: dashed;
    border-color: white;
}

/* -------SECTION_2-------- */
/* size, color and flex properties section 1 */
.section_footer_2{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(35,39,42,1);
}
/* size container */
.container_section_footer_2{
    width: 70%;
    height: 150px;
    background-color: rgba(127,255,212,1);
}
/* size and display:flex row */
.row_section_footer_2{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* centering ad color text */
.col_section_bottom_footer_1, .col_section_bottom_footer_2{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
/* size, color, position and border col */
.col_section_bottom_footer_1{
    height: 50px;
    width: 100px;
    background-color: rgba(255,182,193,1);
    align-self: center;
    border-style: dashed;
}
/* size, color, position and border col */
.col_section_bottom_footer_2{
    height: 50px;
    width: 100px;
    background-color: rgba(255,182,193,1);
    align-self: center;
    border-style: dashed;
}