*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Montserrat', sans-serif;
 }

/* HEADER */
/* header background color and size */
header{
    background-color: rgba(173,216,230,1);
    height: 100px;
}
/* width header */
.container_header{
    width: 70%;
    margin: auto;
}
/* row header flex attribute */
.row_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* col 25 & 50 size and color */
.col_25, .col_50{
    background-color: rgba(218,165,32,1);
    height: 50px;
    border-style: dashed;
    margin-top: 25px;
    padding-top: 7px;
    font-size: 25px;
}
/* width col_25 */
.col_25{
    width: 25%;
}
/* width col_50 */
.col_50{
    width: 50%;
    text-align: center;
}
/* padding logo */
.logo{
    padding-left: 10px;
}
/* padding and text align login */
.login{
    text-align: right;
    padding-right: 10px;
}





