*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Montserrat', sans-serif;
 }

/* HEADER */
/* header background color and size */
header{
    background-color: rgba(173,216,230,1);
    height: 100px;
}
/* width header */
.container_header{
    width: 70%;
    margin: auto;
}
/* row header flex attribute */
.row_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* col 25 & 50 size and color */
.col_25, .col_50{
    background-color: rgba(218,165,32,1);
    height: 50px;
    border-style: dashed;
    margin-top: 25px;
    padding-top: 7px;
    font-size: 25px;
}
/* width col_25 */
.col_25{
    width: 25%;
}
/* width col_50 */
.col_50{
    width: 50%;
    text-align: center;
}
/* padding logo */
.logo{
    padding-left: 10px;
}
/* padding and text align login */
.login{
    text-align: right;
    padding-right: 10px;

}

/* MAIN */
/* -------SECTION_1-------- */
/* size, color and flex properties section 1 */
.section_1{
    height: 600px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* size, color and border container */
.container_section_1{
    width: 60%;
    height: 450px;
    background-color: hotpink;
    border-style: dashed;
}

/* -------SECTION_2-------- */
/* size and flex properties section */
.section_2{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* size container */
.container_section_2{
    width: 70%;
    height: 550px;
}
/* size and display:flex row */
.row_section_2{
    height: 100%;
    display: flex;
}
/* size, coor and border left col */
.col_section_2_left{
    width: 60%;
    height: 100%;
    background-color: rgba(30,144,255,1);
    border-style: dashed;
}
/* size, coor and border right col */
.col_section_2_right{
    width: 40%;
    height: 100%;
    background-color: rgba(255,192,203,1);
    border-style: dashed;
}

/* -------SECTION_3-------- */
/* size, color and flex properties section */
.section_3{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
/* size container */
.container_section_3{
    width: 70%;
    height: 550px;
}
/* size and display:flex row */
.row_section_3{
    height: 100%;
    display: flex;
}
/* size, coor and border left col */
.col_section_3_left{
    width: 40%;
    height: 100%;
    background-color: rgba(30,144,255,1);
    border-style: dashed;
}
/* size, coor and border right col */
.col_section_3_right{
    width: 60%;
    height: 100%;
    background-color: rgba(255,192,203,1);
    border-style: dashed;
}

/* -------SECTION_4-------- */
/* size and flex properties section */
.section_4{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* size container */
.container_section_4{
    width: 70%;
    height: 550px;
}
/* size and display:flex row */
.row_section_4{
    height: 100%;
    display: flex;
}
/* size, coor and border left col */
.col_section_4_left{
    width: 60%;
    height: 100%;
    background-color: rgba(30,144,255,1);
    border-style: dashed;
}
/* size, coor and border right col */
.col_section_4_right{
    width: 40%;
    height: 100%;
    background-color: rgba(255,192,203,1);
    border-style: dashed;
}


